.App {
  text-align: center;
  background-image: url("/background.jpg");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.project img {
  width: 150px;
}

.navigation {
  padding: 10px;
}

.item {
  padding-right: 15px;
  color: white;
  font-size: 20pt;
}

h1 {
  color: white;
}

.project-title {
  color: white;
}

.project-category {
  color: white;
}

a:link {
  text-decoration: none;
}

h2 {
  color: white;
  font-family: Optima, sans-serif;
}

.project {
  font-family: Optima,sans-serif;
  font-size: 13pt;
}